*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
	font-family: sans-serif;
}


.header-head {
	display: flex;
	align-items: center;
	min-height: 80px;
	padding: 10px 0;
	background-color: #255ee9;
}

.header-nav {
	display: flex;
	flex-grow: 1;
	line-height: 30px;
}

.header-nav.container > div > img{
	display: flex;
}

.header-nav>* {
	flex-basis: 20%;
	padding: 5px 10px;
}

ul{
    list-style: none;
}
.header-links > ul > li {
    display: inline-block;
    text-align: center;
}
.header-links > ul > li> a{
    text-decoration: none;
    color: white;
    padding: 0 20px;
}
.header-links{
    flex-grow: 1;
    display: flex;
    justify-content: center;
	align-items: center;
}

.header-login{
	display: flex;
	justify-content: flex-end;
}

.header-login > button {
	background-color: white;
	color: black;
	border-radius: 20px;
	padding: 5px 15px;
	border-style: solid;
	border-color: white;
    cursor: pointer;
}

/* JUMBOTRON */

.jumbotron {
	padding: 100px 0;
	display: flex;
	justify-content: center;
	background-image: url(../img/jumbo.png);
	background-position: bottom;
	background-size: cover;
	background-repeat: no-repeat;
}

.jumbotron .content {
	min-height: 400px;
	width: 40%;
	color: white;
}

.content > h1{
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 50px;
}
.content > p{
	font-size: 25px;
	text-align: center;
}

.jumbo-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.jumbo-buttons > button {
	color: white;
	background-color: #8ea2e1;
	padding: 10px 30px;
	border-radius: 20px;
	border-style: solid;
	border-color: #8ea2e1;
	margin-top: 20px;
    cursor: pointer;
}
/* MAIN SECTIONS */

main>section {
	padding: 50px 0;
}

main>section>.container {
	display: flex;
	min-height: 500px;
}

.bg-white {
	background-color: white;
}

.bg-gray {
	background-color: lightgray;
}

.main-col {
	flex-grow: 2;
	flex-basis: 0;
}

.side-col {
	flex-grow: 1;
	flex-basis: 0;
	text-align: left;
}
.side-col > h1{
	font-weight: bold;
	font-size: 50px;
	margin: 0 40px;
	padding: 20px 0;
}
.side-col > p{
	font-size: 20px;
	margin: 0 40px;
}

.spotlight-content {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center
}
.spotlight-content > h1{
	font-weight: bold;
	font-size: 50px;
	padding: 20px 0;
	text-align: center;
}
.spotlight-content > p{
	font-size: 20px;
	margin: 0 40px;
	text-align: center;
}
.spotlight-content > div{
	font-weight: bold;
	text-align: center;
	font-size: 26px;
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-position: top;
    padding: 38px 60px;
}
.spotlight-content > button{
	color: white;
	background-color: #8ea2e1;
	padding: 10px 30px;
	border-radius: 20px;
	border-style: solid;
	border-color: #8ea2e1;
	margin-top: 20px;
    cursor: pointer;
}

/* UTILS */


.container {
    max-width: 1200px;
	margin: 0 auto;
}

.clearfix::after {
    content: '';
	clear: both;
	display: table;
}

:root {
    --space-xs: 5px;
    --space-sm: 10px;
    --space-md: 15px;
    --space-lg: 25px;
    --space-xl: 50px;
}

/* FOOTER */

.footer-main {
	padding-top: 10px;
	background-color: #23272a;
}

.footer-upper {
	display: flex;
	padding-bottom: 50px;
	margin-bottom: 20px;
	border-bottom: 2px solid purple;
}

.footer-main-col {
	width: calc(100% / 3);
}
.footer-main-col > h1{
	color: #7188d6;
	font-weight: bold;
	font-size: 40px;
	margin: 20px 40px 20px 40px;
}
.lang > img {
	height: 20px;
}
.lang{
	color: white;
	margin: 0 40px;
    cursor: pointer;
}
.socials{
	margin: 30px 40px;
	color: white;
}
.socials > i{
	padding-right: 20px;
    cursor: pointer;
}

.footer-product{
	padding: 0 40px;
}
.footer-product > ul > li{
	padding-bottom: 25px;
}
.footer-product > ul > li > a{
	color: white;
	text-decoration: none;
}

.footer-side-col {
	display: flex;
	width: calc(100% / 3 * 2);
}
.footer-col > h1{
	margin: 20px  0 20px 40px;
	color: #7188d6;
	font-weight: bold;
}

.footer-col {
	margin-top: 15px;
	width: 25%;
}

.footer-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-bottom > div > button{
	color: white;
	background-color: #8ea2e1;
	padding: 10px 30px;
	border-radius: 20px;
	border-style: solid;
	border-color: #8ea2e1;
    cursor: pointer;
}

.footer-bottom > * {
	padding: 5px 0px 20px 0px;
}