*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
	font-family: sans-serif;
    min-height: 100vh;
}

img,
svg,
picture,
video {
	max-width: 100%;
}

.header-head {
	display: flex;
	align-items: center;
	min-height: 80px;
	padding: 10px 0;
	background-color: #255ee9;
}

.header-nav {
	display: flex;
	flex-grow: 1;
	line-height: 30px;
}

.header-nav.container > div > img{
	display: flex;
}

.header-nav>* {
	flex-basis: 20%;
	padding: 5px 10px;
}

ul{
    list-style: none;
}
.header-links > ul > li {
    display: inline-block;
    text-align: center;
}
.header-links > ul > li> a{
    text-decoration: none;
    color: white;
    padding: 0 20px;
}
.header-links{
    flex-grow: 1;
    display: flex;
    justify-content: center;
	align-items: center;
}

.header-login{
	display: flex;
	justify-content: flex-end;
}

.header-login > button {
	background-color: white;
	color: black;
	border-radius: 20px;
	padding: 5px 15px;
	border-style: solid;
	border-color: white;
}

/* JUMBOTRON */

.jumbotron {
	padding: 150px 0;
	display: flex;
	justify-content: center;
	background-image: url(../img/jumbo.png);
	background-position: bottom;
	background-size: cover;
	background-repeat: no-repeat;
}

.jumbotron .content {
	min-height: 400px;
	width: 40%;
	color: white;
}

.content > h1{
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 100px;
}
.content > p{
	font-size: 25px;
	text-align: center;
}

:root {
	--space-xs: 5px;
	--space-sm: 10px;
	--space-md: 15px;
	--space-lg: 25px;
	--space-xl: 50px;
}

/* UTILS */


.container {
	max-width: 1200px;
	margin: 0 auto;
}

.clearfix::after {
	content: '';
	clear: both;
	display: table;
}

